$black: #000000;
$white: #ffffff;

$blackWith87: #{$black}DE; // black color with 87% opacity
$blackWith80: #{$black}CC; // black color with 80% opacity
$blackWith40: #{$black}66; // black color with 40% opacity
$blackWith16: #{$black}29; // black color with 16% opacity

$mediumGray: #9A9A9A;

$regularWeight: 300;
$mediumWeight: 400;
$boldWeight: 700;
$heavyWeight: 900;

$lightSilver: #D9D9DA;
$lightGray: #D4D4D5;

$gainsboro: #DADADB;